<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
  <add key="LinkMod" value="https://" />
  <add key="FirstPageName" value="2" />
  <add key="domino" value="temple.reeing.com" />
  <add key="port" value="8443" />
  <add key="url" value="/temple/a/pc/access" />
  <add key="TempleInfo_Interface" value="templeInfo" />
  <add key="Interface_Param" value="templeId" />
  <add key="Interface_id" value="76043cf3e9fc41e8a744a529ed2ec222" />
  <add key="MonkInfo_Interface" value="monkInfo" />
  <add key="ActivityInfo_Interface" value="activityInfo" />
  <add key="getActivityById_Interface" value="getactivityInfo" />
  <add key="qRCodeInfo_Interface" value="qRCodeInfo" />
  <add key="TemplePayHistory_Interface" value="templePayHistory" />
  <add key="housePayHistory_Interface" value="housePayHistory" />
  <add key="housePayHistory_Param" value="houseId" />
  <add key="housePayHistory_id" value="5bc0d912293c4f08a38dd7858e9a300f" />
  <add key="PageRefreshTime" value="5" />
  <add key="ShutDownTime" value="23:50" />
  <add key="DefaultShutDownTime" value="20:30" />
  <add key="Password" value="123456" />
  <add key="VersionNo" value="1.0.0.0" />
  <add key="UpdateLink" value="http://localhost:280/" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>